<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Todo app</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-app="todoApp">
	<h3>Todos</h3>
	<greet-user></greet-user>
	<list></list>
	<script> src="node_modules/bootstrap/dist/js/bootstrap.min.js"</script>
	<script src="node_modules/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="app/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="app/components/task/task.js" type="text/javascript"></script>
		<script src="app/components/list/list.js" type="text/javascript"></script>

</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div ng-controller="SpicyController">
		<input ng-model="customSpice">
		<button ng-click="spicy('chili')">Chili</button>
		<button ng-click=""></button>
		
		
	</div>
</body>
</html> -->