
<div class="container">
    <div class="col-md-6 col-md-offset-3">
       <!--  <task></task> -->
        <input type="text" name="task" placeholder="What needs to be done" ng-model="taskName"
               ng-keypress="($event.charCode==13)?updateListTask(taskName):return"/>
        <ul class="vm.arrTask list-unstyled">
            <task ng-repeat="task in vm.arrTask track by $index"  task="task" on-delete="vm.onTaskDelete($index)" on-check="vm.onTaskCheck($index)"></task>
   <!--   task-name="{{task.taskName}}"   <div> -->
            <div class="col-md-4">{{ vm.arrTask.length }} items left</div>
            <div class="col-md-8">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item" ng-click="showAll()">All</li>
                    <li class="list-inline-item" ng-click="filterActive()">Active</li>
                    <li class="list-inline-item" ng-click="filterComplete()">Completed</li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>

